body {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 100%;
    max-width: 100%;
    /*  height: 49vw;
    max-height: 100vh; */
    position: relative;
    z-index: 999;
}

#slider #teste {
    display: none;
    position: absolute;
    object-fit: cover;
    transition: opacity 800ms;
    z-index: 999;
}

#slider #teste.selected {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*  min-width: 100%;
    min-height: 100vh; */
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}

iframe,
image {
    min-width: 100%;
    min-height: 100vh;
}