<footer class="mt-5">
    <div class="card navbar-expand-lg " style="height: 300px; background-color: #025A44;">
        <div class="card-header">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a href="">
                                <h4 class="text-light">
                                    <i class="fab fa-instagram"></i>
                                </h4>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <h4 class="text-light">
                                    <i class="fab fa-facebook-square"></i>
                                </h4>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <h4 class="text-light">
                                    <i class="fab fa-youtube"></i>
                                </h4>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <h4 class="text-light">
                                    <i class="fab fa-twitter-square"></i>
                                </h4>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <h4 class="text-light">
                                    <i class="fab fa-linkedin"></i>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <h5 class="text-center mt-5">
                        <a href="#">
                            <img src="/images/logo.png" width="150" alt="error">
                        </a>
                    </h5>
                </div>
                <div class="col">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
                <div class="col">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
                <div class="col">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</footer>