<style>
    footer ul li {
        display: inline-block;
        margin-left: 20px;
    }

    footer ul li h4 {
        font-size: 30px;
    }

    footer ul li h4:hover {
        transition: 500ms;
        font-size: 50px;
    }

    footer #Atendimento ul li {
        display: block;
        margin-left: 20px;
    }
</style>
<footer class="mt-5">
    <div class="card navbar-expand-lg " style="min-height: 300px; background-color: #025A44;">
        <div class="card-header">
            <div class="container">
                <ul class="text-center">
                    <li>
                        <a target="_blank" href="https://instagram.com/granadopharmacias/">
                            <h4 class="text-light">
                                <i class="fab fa-instagram"></i>
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/Granado.Pharmacias.1870">
                            <h4 class="text-light">
                                <i class="fab fa-facebook-square"></i>
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/channel/UCqL7AM6v1r1xS5u5XtoyMgw">
                            <h4 class="text-light">
                                <i class="fab fa-youtube"></i>
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/granado_oficial">
                            <h4 class="text-light">
                                <i class="fab fa-twitter-square"></i>
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/granado-phebo">
                            <h4 class="text-light">
                                <i class="fab fa-linkedin"></i>
                            </h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3 col-sm-12 col-md-3 mt-1 mb-1">
                    <h5 class="text-center mt-5">
                        <a href="#">
                            <img src="/images/logo.png" width="150" alt="error">
                        </a>
                    </h5>
                    <hr>
                </div>
                <div class="col-sm-12 col-md-12 col-xl-7">
                    <p class="copyright text-light text-center">
                        © Copyright Granado 2015. Todos os direitos reservados.
                    </p>
                    <p class="address text-light text-center">Jesmond Comercio Varejista LTDA | CNPJ: 08.743.025/0010-88
                        | Inscrição Estadual:
                        79.292.079 | Rua Professora Celita Rodrigues Andrade, 130 - Jardim Marajoara - Japeri - RJ |
                        CEP: 26410-250</p>
                    <hr>
                    <div class="stamps text-center">
                        <div class="row">
                            <div class="col-xl-4 col-sm-12 col-md-12 text-center">
                                <a href="https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC5&v_search=https://www.granado.com.br&x=6&y=5"
                                    target="_blank"><img src="/images/comodo.png" width="100"></a>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-12 text-center">
                                <a href="http://www.procon.rj.gov.br" target="_blank"><img
                                        style="height:28px;margin-top: 19px;" src="/images/procon.png"></a>
                                </li>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-12 text-center">
                                <div id="reputation-ra">
                                    <script type="text/javascript" id="ra-embed-reputation"
                                        src="https://s3.amazonaws.com/raichu-beta/selos/bundle.js"
                                        data-id="MTEzNDY6Z3JhbmFkby1waGFybWFjaWFz" data-target="reputation-ra"
                                        data-model="2"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</footer>