<div class="modal" tabindex="-1" id="resgisterLine">
    <div class="modal-dialog">
        <div class="modal-content" style="background-image: url(/images/bg_modal.png);">
            <div class="modalRegisterLine" style="background-color: rgba(0, 0, 0, 0.493);">
                <div class="modal-header">
                    <h5 class="modal-title text-light" style="font-weight: 600; font-size: 20px;">Cadastrar Linha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/settings/register/line" method="post">
                    <div class="modal-body">
                        <div class="container">
                            <input type="text" name="name" class="form-control mt-1 mb-1" placeholder="Nome da Linha">
                            <input type="text" name="link" class="form-control mt-1 mb-1" placeholder="Link da Linha">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success"
                            style="background-color: #025A44; border: none;">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>