<div id="slider">
  {{#each lines}}

  {{#if dataValues.link}}
  <iframe id="iframe" time="{{dataValues.time}}" src="{{dataValues.link}}"></iframe>
  {{/if}}

  {{#if dataValues.video}}
  <video id="video" time="{{dataValues.time}}" muted fullscreen  controls="controls">
    <source src="/videos/uploads/{{dataValues.video}}" type="video/mp4" />
  </video>
  {{/if}}
  
  {{/each}}
</div>