
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        {{#each lines}}
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" time="{{dataValues.time}}">
                <iframe class="selected" src="{{dataValues.link}}"
                    style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
            </div>
            <div class="item" time="{{dataValues.time}}">
                <iframe class="selected" src="{{dataValues.link}}"
                    style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
            </div>
        </div>
        {{/each}}
        <!-- Left and right controls -->

    </div>

    <script>
        $("#myCarousel").on('slid.bs.carousel', function (e) {
            setInterval(() => {
                $('.carousel').carousel('next')
            }, e.relatedTarget.getAttribute("time"))

            console.log(e.relatedTarget.getAttribute("time"))

        });
        $('.carousel').carousel('next')


        $('.carousel').carousel({
            interval: false
        });
    </script>
</div>